* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    box-sizing: border-box; 
    padding: 0;
}

/* Styling for header */
/* ------------------- */
.navContainer {
    background-color: #182325;
    color: whitesmoke;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 40px 30px 40px 30px;
    border: 2px solid black;
    border-radius: 0px 0px 20px 20px;
}
#navBar{
    background-color: #182325;
    color: whitesmoke;
}

.logo {
    height: 200px;
    width: 200px;
}

.title {
    font-size: 2.5rem; 
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.title-link {
    text-decoration: none;
}
.title-link:visited {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex; 
    gap: 30px; 
    list-style-type: none;
}

.nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
}   

.nav a:hover {
    color: white; 
    text-decoration: underline;
}

.subtitle{
    padding-top: 20px;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}
/* ------------------- */

/* Styling for Main page */
/* ------------------- */


.greetingMessage {
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    text-align: center;
    margin: 40px;
}

.containerMain {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}

/* API styling */ 
#weather {
    font-size: 1.5rem;
    padding: 20px;
    border: 2px solid #444;
    border-radius: 10px;
    background-color: #182325;
    color: whitesmoke;
    margin-left: 80px;
}
.weatherAPI > h2 {
    margin-left: 80px;
    text-align: center;
    color:#182325;
}

.r {
    float: right;
}

/* ------------------- */

/* Footer Styling */ 
/* ------------------- */
.footerContainer {
    background-color: #182325;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
    margin-top: 50px;
}

.footerList {
    display: flex;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-right: 20px;
    gap: 20px;
}
.footerList > li{
    color: whitesmoke;
    list-style-type: none;
}

.footerList > li a{
    color: whitesmoke;
    text-decoration: none;
}

/* About Styling */
/* ------------------- */

.block {
    margin: 20px;
}
.left {
    float: left;
}
.block + p {
    font-size: 1.5rem;
    margin: 30px
}
.right {
    float: right;
}

/* Glossary Styling */
/* ------------------- */
#glossContainer{
    background-color: rgb(112, 173, 112);
}

.gridLayout1, .gridLayout2, .gridLayout3{
    border-bottom: 5px dotted black;
    padding: 30px 0 30px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: 
    "picture description condition"
    "picture description condition"
    "name description bait"
    "species description bait";
}

.speciesItem{
    border-bottom: 5px dotted black;
    padding: 30px 30px 30px 30px;
    display: block;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: 
    "picture description condition"
    "picture description condition"
    "name description bait"
    "species description bait";
}
.gridLayout1 > div, .gridLayout2 > div, .gridLayout3 > div {
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
}
/* ------------------- */

.faqContainer{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
.faqContainer h2 {
    margin: 20px;
    text-align: center;

}
.gridRight, .gridLeft{
    margin: 20px;
}

.faqs button{
    width: 100%;
    padding: 20px;
    margin: 5px;
    font-weight: 400;
    text-align: left;
    border-radius: 5px;
    background-color: lightgray;
    color: #182325;

}

