* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    box-sizing: border-box; 
    padding: 0;
}

.navContainer {
    background-color: #182325;
    color: whitesmoke;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 40px 30px 40px 30px;
    border: 2px solid black;
    border-radius: 0px 0px 20px 20px;
}

.logo {
    height: 200px;
    width: 200px;
}

.title {
    font-size: 2.5rem; 
    font-weight: bold; 
}

.nav {
    display: flex; 
    gap: 30px; 
    list-style-type: none;
}

.nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
}   

.nav a:hover {
    color: white; 
    text-decoration: underline;
}

.greetingMessage {
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    text-align: center;
    margin: 40px;
    
}

.containerMain {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}

#weather {
    font-size: 1.4rem;
    padding: 20px;
    border: 2px solid #444;
    border-radius: 10px;
    background-color: #182325;
    color: whitesmoke;
    margin-left: 80px;
}


#weather > p {
    padding-left: 20px;
}

.footerContainer {
    background-color: #182325;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
    margin-top: 50px;
}

.footerList {
    display: flex;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-right: 20px;
    gap: 20px;
}
.footerList > li{
    color: whitesmoke;
    list-style-type: none;
}

.footerList > li a{
    color: whitesmoke;
    text-decoration: none;
}
.block {
    margin: 20px;
}
.left {
    float: left;
}
.block + p {
    font-size: 1.5rem;
    margin: 30px
}
.right {
    float: right;
}

.fishPicture {
    grid-area: picture;
    background-image: url(images/bassPic.jpg);
    background-size: cover;
}
.fishName {
    grid-area: name;
}
.species {
    grid-area: species;

}
.fishDescription {
    grid-area: description;

}
.preferredCondition {
    grid-area: condition;
}
.preferredBait {
    grid-area: bait;
}

.gridLayout1, .gridLayout2, .gridLayout3{
    border-bottom: 5px dotted black;
    padding: 30px 0 30px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: 
    "picture description condition"
    "picture description condition"
    "name description bait"
    "species description bait";
}

.gridLayout1 > div, .gridLayout2 > div, .gridLayout3 > div {
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
}
